* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  background-color: #008000;
}
.banner {
  width: 100%;
  height: 10vh;
  background-color: #808000;
  border-bottom: 5px solid black;
}

.container {
  position: relative;
}

.pierwszy-blok {
  height: 30vh;
}

.kwadraty-container {
  width: 50%;
  margin-left: 5%;
  padding-top: 5%;
}

.kwadrat {
  border: 5px solid black;
  width: 40%;
  background-color: #ff0000;
  transform: rotate(45deg);
  content: "";
  transition(0.4s);
}



.kwadrat:before {
  content: "";
  padding: 50% 0;
  display: inline-block;
}

#pierwszy-kwadrat {
  margin-left: 30%;
}

.drugi-blok {
  height: 30vh;
}

.drugi-blok-conteiner {
  display: flex;
  align-items: center;
  align-content: center;
  height: 30vh;
  width: 100%;
}

.paski-container {
  width: 50%;
}

.paski {
  border: 5px solid black;
  height: 30px;
  background-color: #0000ff;
  margin: 25px;
  content: "";
}

.kolo {
  border: 5px solid black;
  background: #008080;
  border-radius: 50%;
  width: 30%;
}

.kolo:before {
  content: "";
  padding: 50% 0;
  display: inline-block;
}

.trzeci-blok {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trzeci-blok-napis {
  border: 5px solid black;
  width: 50%;
  height: 90%;
  background-color: #0000ff;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 583px) {
  .pierwszy-blok {
    height: 45vh;
   
  }

  .kwadraty-container {
    width: 90%;
    margin-left: 9%;
    padding-top: 9%;
  }
  .drugi-blok {
    height: 45vh;
  }

  .kolo {
    width: 50%;
  }

  .trzeci-blok {
    position: absolute;
    right: 0;
    top: 0;
    height: 90vh;
   
  }

  .trzeci-blok-napis {
    font-size: 30px;
    background-color: #c83737;
  }

  .col-s-6 {
    width: 50%;
  }
}
@media only screen and (min-width: 901px) {
  .pierwszy-blok {
    float: left;
    height: 90vh;
  }

  .kwadraty-container {
    width: 100%;
    margin-left: 10%;
    padding-top: 10%;
  }

  .drugi-blok {
    
    float: left;
    height: 90vh;
  }

  .drugi-blok-conteiner {
    margin-top: 30%;
  }

  .kolo {
    width: 50%;
  }
  .trzeci-blok {
    float: left;
  }

  .trzeci-blok-napis {
    font-size: 36px;
    background-color: #ffffff;
  }

  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
}
